// 1. Your custom variables and variable overwrites.
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap')
$global-font-family: 'Open Sans', sans-serif   
$global-primary-background: #cc0d1f
$global-secondary-background: #231f20
$global-success-background: #80bdb8
$navbar-nav-item-font-family: $global-font-family
$navbar-nav-item-font-size: 1rem
$section-small-padding-vertical: 32px
$navbar-nav-item-height: 55px 
$button-default-background: #80bdb8
$button-default-color: #fff
$text-muted-color:  #5f928b
$global-link-color: #5d5d5d

// vermelho #cc0d1f
// verde #80bdb8
// preto #231f20
// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme.scss"
@import "../../node_modules/uikit/src/scss/mixins-theme.scss"

// 3. Your custom mixin overwrites.  
@mixin hook-card()
  color: #000
@mixin hook-card-title()
  font-size: 1rem
  text-align: center
  text-transform: uppercase
  letter-spacing: 0
html
  letter-spacing: 0.317px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility

.wj-login
  padding: 4px
  max-height: 30px
  a
    color: #fff
    text-decoration: underline
    font-weight: 800
    font-size: 0.8rem
  span
    margin: 0 5px
    color: #FFF
    font-size: 0.9rem
.wj-sidebar
  border: 1px solid #d7d7d7
.wj-pesquisa
  button
    font-weight: 800
.wj-menu
  li
    a
      font-weight: 800
      color: #FFF !important
.uk-logo 
  img.desktop
    width: 190px
  img.mobile
    width: 150px
.wj-cor
  height: 30px
.wj-cor-paleta
  input.uk-radio
    width: 25%
    height: 50px
    border-radius: 0
    margin-bottom: 4px
    border: 1px solid #c9cdd0
    margin: 2px
.wj-card
  margin-top: 0 !important 
.wj-card-img
  border: 1px solid #d7d7d7
  img
    height: 100%
.wj-card-btn
  font-weight: 800 !important
  border-radius: 7px
  font-size: 1rem !important
.wj-card-title
  height: auto
  min-height: 45px
.wj-card-valor
  font-size: 1.4rem
.wj-card-valor-antigo
  font-size: 0.9rem
  color: #757575

.uk-button-default
  font-size: 1.2rem !important
  border-color: #80bdb8 !important
.uk-button-default:hover
  color: #80bdb8 !important
  border-color: #80bdb8 !important
  
@import "../../node_modules/uikit/src/scss/uikit-theme.scss"